html, body {
	height: 100%;
	width: 100%;
}

.main{
	/*background-color: #f9f9f6;*/
	background: url('img/background1.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center ;
	justify-content: center;
	text-align: right;
}

.main > h1 { 
margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
	 
}
body {
  color: black;
}
.main a {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
	 
}
 .main a:hover {
 	color: red; 
    background-color: transparent; 
    text-decoration: none;
	  
 }

